@keyframes fade-darken-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes fade-down {
  from {
    margin-top: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-down {
  from {
    margin-top: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
